# System Files
.DS_Store
*.log

# Python Cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Shell Scripts
*.sh
*.csh

# Model & Data Files
*.pt
*.pkl
*.npy
*.csv

# Virtual Environments
venv/
.env/

# Ignore model files and large data files
models/
data/
results/

# Ignore virtual environments
venv/
.env/
*.log
